@font-face {
  font-family: "ubuntu";
  src: url("../assets/Ubuntu_Mono/UbuntuMono-Regular.ttf");
}

#terminal {
  font-family: "ubuntu";
  font-size: 16px;
  height: auto;
  width: 100vw;

}

body {
  color: #cccccc;
  background: #330033;
  height: 100vh;
  width: 100vw;
}



body,html {
    margin: 0;
    padding: 0;
}


#input {
  width:100vw;
  height:20px;

  display: flex;
}
#input-input{
  caret-color : white;
  overflow:hidden;
}
#input-content{
  float: left;
  padding-right: 10px ;
}

#padder{
  height:100vh;
}
[contenteditable] {
  outline: 0px solid transparent;
}
